
// 左侧菜单宽度
$base-menu-width: 104px;
// 左侧菜单背景色
$base-menu-background: #222735;

// 顶部菜单高度
$base-tabbar-height: 90px;

// 内容背景色
$base-main-background: #f5f7fa;
// 内容组件背景颜色
$base-main-item-background: #ffffff;
