
// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单背景色
$base-menu-background: #001529;

// 顶部菜单高度
$base-tabbar-height: 50px;

// 左侧logo高度
$base-menu-logo-height: 50px;
// 左侧logo文字
$base-logo-title-fontSize: 18px;


// 内容背景色
$base-main-background: #f5f7fa;
// 内容组件背景颜色
$base-main-item-background: #ffffff;
